<div id="headerwrap" style="background: url({{ "/assets/img/browser.jpg" | prepend: site.baseurl }}); background-color: #454b4cc7; background-size: cover; background-position: center; background-blend-mode: multiply; position: relative; color: #fff;">
    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1); !important"></div>
    <div class="container" style="position: relative; z-index: 1;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 overlay-text">
                <br>
                <br>
                <h3>She matters and so does her voice</h3>
                <h1>Welcome to LEVAWG INITIATIVE</h1>
                <h5>Young feminist led Organisation workinging to address the problem of gender imbalances And community building</h5>
                <br>
                <br>            
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
