<style>
    .image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 60px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    margin:30px ;
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
  }
}

.image-item {
  width: 100%;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
}
.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}
</style>

<center>
    <h1>My Latest work</h1>
<hr>
</center>

<div class="image-grid">
    {% assign count = 0 %}
    {% for img in site.static_files %}
      {% if img.path contains '/assets/img/project/' %}
        {% assign count = count | plus: 1 %}
        {% if count <= 10 %}
          <div class="image-item">
            <img src="{{ img.path | relative_url }}" alt="Project Image" onclick="openLightbox('{{ img.path | relative_url }}')">
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <center>
    <div class="button-container">
        <a href="/project/" class="button">View All Projects</a>
      </div>
</center>