

<center>
    <h1>Our Latest Work</h1>
<hr>
</center>

<div class="image-grid">
    {% assign count = 0 %}
    {% for img in site.static_files %}
      {% if img.path contains '/assets/img/project/' %}
        {% assign count = count | plus: 1 %}
        {% if count <= 10 %}
          <div class="image-item">
            <img src="{{ img.path | relative_url }}" alt="Project Image" onclick="openLightbox('{{ img.path | relative_url }}')">
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <center>
    <div class="button-container">
        <a href="/project/" class="button">View All Projects</a>
      </div>
</center>