<hr>
<h2 style="text-align: center;">Testimonies</h2>

<div class="testimonials">
    {% for testimony in site.testimonies %}
        <div class="review-card">
            <div class="stars">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </div>
            <p class="review-text">{{ testimony.description }}</p>
            <div class="reviewer">
                <img src="/assets/img/testimony/{{ testimony.img }}" alt="{{ testimony.name }}" class="reviewer-photo">
                <div class="reviewer-info">
                    <a href="{{ testimony.link }}" target="_blank">
                        <p class="reviewer-name">{{ testimony.name }}</p>
                    </a>
                    
                </div>
            </div>
        </div>
    {% endfor %}
</div>