
<style>
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 100px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
  }

}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
  }
}

.image-item {
  width: 100%;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

/* Lightbox styles */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

.lightbox-content {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 80px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  opacity: 1 !important;
  color: white !important;
  font-size: 40px !important;
  text-shadow: none;
}
.close:hover{
  color: gray !important;
  text-shadow: none;
}

</style>

{% include head.html %}
{% include nav.html %}
{% include wrap.html %}
  <main>
    {{ content }}
  </main>

  <script>
     function openLightbox(src) {
      var lightbox = document.getElementById('lightbox');
      var lightboxImg = document.getElementById('lightbox-img');
      lightbox.style.display = 'flex';
      lightboxImg.src = src;
    }

    function closeLightbox() {
      var lightbox = document.getElementById('lightbox');
      lightbox.style.display = 'none';
    }
  </script>

  

{% include footer.html %}
{% include js.html %}